body {
  background-color:  #cffdff;
}

main {
  background-color: #b0feff;
  position: absolute;
  display: block;
  padding: auto;
  margin: 0 auto;
  text-align: center;
  margin-left: 25%;
  height: 1050px;
  width: 50%;
}
h1 {
  font-family: 'Architects Daughter', cursive;
}
.images {
  width: 50%;
  height: 15%;
  padding-top: 25px;
  background: #8cfffb;
  background-size: contain;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.hideOptions{
  visibility: hidden;
}

.showOptions{
  visibility:visible;
}


.button {
  font-family: 'Architects Daughter', cursive;
  /*display: none;*/
  font-size: 18px;
  background-color: #8cfffb;
  border-radius: 20%;
  border: 5px solid #cffdff;
  height:50px;
  width: 100px;
  margin: 20px;
  text-align: center;
  /*margin: 30px;
  height: 50px;
  width: 70px;*/
  display: inline-block!important;
}

.score {

  /*padding: 20px 10px;*/
  /*position: absolute;
  float: left;*/
}

.start {
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  background-color: #8cfffb;
  border-radius: 20%;
  border: 5px solid #cffdff;
  height:50px;
  width: 100px;
  margin: 20px;
}

/*.instructions {
  display: block;
}*/


p {
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  font-style: oblique;
  width: auto;
  height: 50px;
}

/*.attempts {
  font-size: 25px;
  border-radius: 20%;
  border: 5px solid #8cfffb;

}*/

.timer, .attempts, .score {
  font-family: 'Architects Daughter', cursive;
  font-size: 25px;
  border-radius: 20%;
  border: 5px solid #8cfffb;
}
